*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
}

body{
    background-color: whitesmoke;
}

header{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

header h1{
    color: #B51A1A;
    font-size: 64px;
}

main{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div{
    width: 40%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

main div p{
    font-size: 40px;
}

footer{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contadorDeAcertos{
    font-size: 24px;
}

footer nav{
    display: flex;
    gap: 304px;
    justify-content: center;
    align-items: center;
    position: absolute
}

footer div{
    background-color: #B51A1A;
    width: 412px;
    height: 100px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer div a{
    color: whitesmoke;
    font-size: 40px;
    text-decoration: none;
}

footer div:hover{
    transform: scale(1.24);
    transition: calc(.2s);
}

#kanyeButton{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#filosofoButton{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button{
    font-size: 34px;
    color: white;
}

@media (max-width:912px){
    header h1{
        font-size: 54px;
    }

    main div{
        width: 70%;
        height: 100%;
    }

    footer{
        padding: 0px 0px;
    }

    footer div{
        width: 240px;
        height: 120px;
    }

    footer nav{
        gap:160px
    }
}

@media (max-width:414px){
    header h1{
        font-size: 34px;
        text-align: center;
        height: 10vh;
    }

    main{
        height: 50vh;
    }

    main div p{
        font-size: 24px;
    }

    footer div{
        width: 300px;
        height: 70px;
    }

    button{
        font-size: 24px;
    }

    footer{
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
        justify-content: center;
        align-items: center;
    }

    footer nav{
        display: grid;
        gap: 6px;
        position: relative;
    }

    #contadorDeAcertos{
        font-size: 14px;
        margin-top: 10px;
    }

    footer div:hover{
        transform: scale(1.14);
        transition: calc(.2s);
    }
}